.tableContainer,
.pagination,
.tableHead,
tr,
table,
.paperContainer {
    border-radius: 6px;
}

.tableContainer th,
.tableContainer thead {
    border-radius: 2px;
}

.tableHead {
    color: rgb(99, 115, 129);
    font-weight: 700;
    background-color: rgb(244, 246, 248);
    border: 1px solid rgb(244, 246, 248);
}

.tableCell {
    border-bottom: 1px dashed rgb(241, 243, 244);
    color: rgb(32, 44, 56);
}

.tableRow:last-child .tableCell {
    border-bottom: none;
}

.pagination {
    border: 1px solid rgb(244, 246, 248);
    background-color: rgb(244, 246, 248);
    color: rgb(99, 115, 129);
}

.lowVisActions {
    color: rgb(99, 115, 129);
}